@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.KitapAdi</p>
<p>@Model.YazarAdi</p>
<p>@Model.YayinlanmaTarihi.ToShortDateString()</p>
<p>@Model.Turu</p>
<p>@Model.SayfaSayisi</p>
<p>@Model.Fiyat.ToString("C")</p>

<p>Use this page to detail your site's privacy policy.</p>

